@font-face {
    font-family: 'HelveticaNeueBlackCond';
    src: url('../public/fonts/HelveticaNeueBlackCond.woff2') format('woff2'),
        url('../public/fonts/HelveticaNeueBlackCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

a {
    color: #73bdde;
    text-decoration: none;
}

h1 {
    margin: 0;
}

body {
    font-family: 'HelveticaNeueBlackCond';
    background: #0f0f0f;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    background: transparent;
}

nav {
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    height: 50px;
    background: transparent;
}

.main-nav-list {
    display: inline-flex;
    list-style: none;
    padding: 0;
    
    li {
        padding: 0 1.5rem;
        
        a {
            text-decoration: none;
            color: #646464;
            transition: .22s ease-in-out;

            &:hover {
                color: #B9B9B9;
            }
        }
    }
}

.discogs__profile--container {
    margin: 0 auto;
    height: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discogs__profile--img {
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    background-position: -100px -232px;
    border: solid 8px #707070;
}

.discogs__profile--username {
    font-size: 2.1rem;
}

.discogs__profile--section {
    margin: 1rem 0 2rem 0;

    .discogs__profile--header {
        color: #414141;
        font-size: 40px;
    }
}

.discogs__profile--sub {
    font-size: 40px;
    color: #fff;
}

.discogs__footer--info {
    position: fixed;
    right: 1rem;
    text-align: right;
    bottom: 1.4rem;

    a {
        color: #fff;
        text-decoration: none;
        padding: 0 1rem;
    }
}

.discogs__footer--info-window {
    opacity: 0;
    position: absolute;
    right: 3rem;
}

.discogs__footer--info-window.show {
    opacity: 1;
    transition: .12s ease-in-out;
}

.active {
    color:#b9b9b9 !important;
}

::selection {
    background:rgb(144, 154, 223);
    color:#fff;
}

// Modal Styles
.overlay {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;

    .modal {
        background: #fff;
        width: 493px;
        height: 435px;
        text-align: center;
        padding: 2rem;
        position: relative;

        a {
            color: #333;
            text-decoration: none;
            text-transform: uppercase;
            position: absolute;
            right: 1.1rem;
            bottom: 1.3rem;
            background: #e4e4e4;
            padding: 0.6rem 2rem;
            border-radius: 4px;
            transition: .22s ease-in-out;

            &:hover {
                background: #2d2d2d;
                color: #fff;
            }
        }
    }
}

.overlay.show{
    display: flex;
}

.modal-close a {
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-transform: uppercase;
}

@media(min-width: 1140px) {
    .container {
        width: 1140px;
        margin: 0 auto;
    }
    .overlay {
        .modal {
            height: 550px;
        }
    }
}

@media(max-width: 545px) {
    nav {
        background: #ffffff;
    }
    .main-nav-list {
        padding: 0;
    }
    .overlay {
        .modal {
            width: 80%;
            padding: 1rem;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            
            img {
                width: 100%;
            }
            a {
                right: 0;
                bottom: -2.6rem;
                left: 0;
                border-radius: 0;
            }
        }
    }
    .active:after {
        content: '';
        border-bottom: solid 2px #000000;
        display: block;
        position: relative;
        bottom: -16px;
    }
    .discogs__collection--container {
        width: initial !important;
        grid-auto-rows: initial !important;
        div {
            img {
                width: 100%;
            }
        }
    }

    .discogs__wantlist--container {
        padding: 0 !important;
        grid-auto-rows: 500px !important;
    }
}

@media(max-width: 375px) {
    .main-nav-list {
        li {
            padding: 0 1.3rem;
        }
    }
}

@media(max-width: 320px) {
    h1 {
        font-size: 3.4rem;
    }
    .main-nav-list {
        li {
            padding: 0 0.9rem;
        }
    }
}

.discogs__about--text {
    font-size: 3.2rem;
    padding: 4rem 3rem;

    &:after {
        content: '';
        display: block;
        height: 7px;
        width: 15rem;
        background: #fff;
        margin: 3rem 0;
    }
}

.discogs__collection--container {
    .discogs__collection--img {
        position: relative;

        img {
            width: 100%;
        }
    }

    .discogs__collection--overlay {
        position: absolute;
        bottom: 0;
        height: 75px;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;

        p {
            margin: 0;
        }
        p:last-child {
            font-size: 0.9rem;
            color: #6d6d6d;
            font-family: 'helvetica neue';
            font-weight: bold;
            margin: 3px 0;
        }

        .discogs__collection--overlay-inner  {
            margin: 1rem 2rem;
        }
    }
}

.discogs__collection--container,
.discogs__wantlist--container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    width: 100%; 
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: 400px; 
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 1em;
    .discogs__wantlist--img {
        padding: 20px;
        img {
            width: 100%;
        }
    }
}

// Wantlist Styles 
.discogs--searchInput {
    height: 38px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    text-indent: 0.2rem;
    border-bottom: solid 1px #b9b9b9;
    margin: 2rem 1rem;
    // width: 400px;
}

.discogs__wantlist--title {
    font-size: 1.5rem;
}

::placeholder {
    font-size: 1rem;
}

.discogs__wantlist--toggle-options,
.discogs--pagination {
    padding: 20px;
    font-family: Helvetica Neue;
}